.container {
  display: flex;
  height: 100%;
}

.container .sidebar {
  width: 5.5rem; 
  background-image: url('../images/sidebar.png');
  background-repeat: repeat;
  background-size: 90rem;
}

.container .content {
  padding: 5rem 15.5rem;
}

.container .content .children {
  margin-right: 3rem;
}

