.social {
  display: flex;
  position: absolute;
  height: 12rem;
  flex-direction: column;
  justify-content: space-between;
  right: 3.5rem;
  top: 3rem;
}

@media (max-width: 1000px) {
  .social-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -.5rem;
    margin-top: 1rem;
  }

  .social {
    right: auto;
    top: auto;
    position: relative;
    width: 12rem;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
