html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #8e3370;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.75em;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5em 5em 2em 5em;
}

h1 {
  font-family: "Quando", serif;
  font-size: 2.5em;
}

h2 {
  font-family: "Quando", serif;
  font-size: 1.75em;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 20em;
  margin-top: -.75em;
  font-size: 1em;
}

.section {
  margin-top: .1em;
}

.about {
  max-width: 45em;
}

.project {
  margin-top: -.75em;
  margin-bottom: 1.5em;
}

.project .project-title {
  margin-bottom: -1.8em;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.project-title .year {
  margin: auto 0 auto .75rem;
  font-size: .85rem;
}
