.speaking .talk {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
}

.speaking .talk img{
  width: 17rem;
  height: 10rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  margin-right: 1.5rem;
}

.speaking .talk p {
  margin-top: .5rem;
}

