.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: center;
}

.header .nav {
  display: flex;
  flex-direction: row;
  width: 18rem;
  justify-content: space-between;
}

.header .nav p {
  font-size: 1.5rem;
}

.header h1 {
  font-family: "PT Mono";
  letter-spacing: -0.022em;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

.header h1 a:hover {
  text-decoration: none;
}

.header h1 .cursor {
  animation: blink 1s step-start 0s infinite, color 6s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes color {
  0% { color: #6E8897; }
  16.7% { color: #A6C6D0; }
  33.4% { color: #A5C5B7; }
  50.1% { color: #F1C7C9; }
  66.8% { color: #EED7AF; }
  83.5% { color: #9C9BA3; }
  100% { color: #6E8897; }
}
