html, body {
  color: #3D415C;
}

p {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.33rem;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
