@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quando");

html, body {
  padding: 1.25rem 3rem;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

a {
  color: #8e3370;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  max-width: 50rem;
}

.title {
  padding: 1.5rem 0 0 0;
}

h1, h2 {
  font-family: Quando;
  color: #222;
}

.title .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 15rem;
  margin-top: -.75rem;
}

.title .icon {
  height: 1.75rem;
  fill: #222;
}

.title .icon:hover {
  fill: #8e3370;
}

.about {
  margin-top: 2rem;
  /* margin-bottom: 3.5rem; */
  max-width: 50rem;
}

.talks {
  margin-bottom: 3rem;
}

.projects, .talks {
  margin-top: 2.5rem;
}

.projects h2, .talks h2 {
  margin-bottom: .25rem;
}

.project .project-title, .talk .talk-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project .project-title .year, .talk .talk-title .conference {
  color: #222;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: -.1rem;
  margin-left: .5rem;
}

.project .description, .talk .description {
  margin-top: -.75rem;
}
